<li>
  <%= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote, class: 'px-3 py-2 bg-slate text-soft-white rounded hover:bg-electric transition-colors text-sm' %>
</li>
